body {
    margin-top: 30px;
    margin-bottom: 50px;
}

nav {
    margin-top: 30px;
}

.well-order {
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
    padding-top: 10px;
    background: none;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

th {
    font-weight: normal;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.btn-group {
    margin-top: 20px;
}

.tr-link:hover {
    cursor: pointer;
}

.alert-warning {
    background: none;
    border: none;
    border-left: 1px red solid;
    color: grey;
}

.table {
    margin-bottom: 0;
}

.form-control {
    height: 30px;
    font-size: 14px;
    padding: 5px;
}

.input-sm {
    font-size: 12px;
}

.btn-sm {
    padding: 5px 10px;
}

.panel-heading {
    font-size: 14px;
    padding: 8px 15px;
}

h1 {
    font-size: 30px;
}

h5 {
    font-size: 14px;
}